.clearfix:after { content:".";display:block;height:0;width:0;line-height:0;clear:both;visibility:hidden; }
.clearfix { zoom: 1; }


.ha-on .carousel .item,
.ha-on .ha,
.ha-on .ha- * {
    -webkit-transform: translateZ(0);
       -moz-transform: translateZ(0);
        -ms-transform: translateZ(0);
         -o-transform: translateZ(0);
            transform: translateZ(0);
}


.wrap-content {
    display: inline-block;
}
.match-parent {
    display: block;
}


.carousel-control {
    background-image: none !important;
}
.carousel-caption a {
    color: #fff;
}

.csstransforms3d .carousel .item {
    -webkit-transition: -webkit-transform .6s ease-in-out;
       -moz-transition:    -moz-transform .6s ease-in-out;
        -ms-transition:     -ms-transform .6s ease-in-out;
         -o-transition:      -o-transform .6s ease-in-out;
            transition:         transform .6s ease-in-out;
}
.csstransforms3d.disable-transition .carousel .item {
    -webkit-transition: none;
       -moz-transition: none;
        -ms-transition: none;
         -o-transition: none;
            transition: none;
}
.csstransforms3d .carousel-inner>.active,
.csstransforms3d .carousel-inner>.prev.right,
.csstransforms3d .carousel-inner>.next.left {
    left: 0;
    -webkit-transform: translate3d(0, 0, 0);
       -moz-transform: translate3d(0, 0, 0);
        -ms-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
}
.csstransforms3d .carousel-inner>.active.left,
.csstransforms3d .carousel-inner>.prev {
    left: 0;
    -webkit-transform: translate3d(-100%, 0, 0);
       -moz-transform: translate3d(-100%, 0, 0);
        -ms-transform: translate3d(-100%, 0, 0);
            transform: translate3d(-100%, 0, 0);
}
.csstransforms3d .carousel-inner>.active.right,
.csstransforms3d .carousel-inner>.next {
    left: 0;
    -webkit-transform: translate3d(100%, 0, 0);
       -moz-transform: translate3d(100%, 0, 0);
        -ms-transform: translate3d(100%, 0, 0);
            transform: translate3d(100%, 0, 0);
}


.dialog {
    position: fixed;
    z-index: -1;
    display: block;
    padding: 15px 30px 30px;
    background: #000;
    -webkit-border-radius: 5px;
       -moz-border-radius: 5px;
            border-radius: 5px;
    color: #fff;
    font-family: 'Quicksand', helvetica, arial, sans-serif;
    -webkit-transition: opacity .1s ease-out, z-index .1s ease-out;
       -moz-transition: opacity .1s ease-out, z-index .1s ease-out;
        -ms-transition: opacity .1s ease-out, z-index .1s ease-out;
         -o-transition: opacity .1s ease-out, z-index .1s ease-out;
            transition: opacity .1s ease-out, z-index .1s ease-out;
    opacity: 0;
}
.dialog.showing {
    opacity: .9;
    z-index: 20;
}
.dialog .glyphicon-remove-sign {
    float: right;
    font-size: 18px;
    cursor: pointer;
}



.site-title,
.navigation {
    font-family: 'Quicksand', helvetica, arial, sans-serif;
    font-weight: 300;
}
.site-title a,
.site-title a:active,
.site-title a:focus,
.navigation a,
.navigation a:active,
.navigation a:focus {
    outline: none;
}
.site-title a:hover,
.site-title a:active,
.site-title a:focus,
.navigation a:hover,
.navigation a:active,
.navigation a:focus {
    text-decoration: none;
}

.underline.ha {
    position: absolute;
    bottom: 9px;
    border-bottom: 1px solid #428bca;
    -webkit-transition: left .5s ease-in-out, width .5s linear;
       -moz-transition: left .5s ease-in-out, width .5s linear;
        -ms-transition: left .5s ease-in-out, width .5s linear;
         -o-transition: left .5s ease-in-out, width .5s linear;
            transition: left .5s ease-in-out, width .5s linear;
    opacity: 0;
}



#map-canvas {
    position: relative;
    z-index: 7;
}
.start #map-canvas {
    visibility: hidden;
}


.section-code .site-title a,
.section-footer .site-title a {
    color: #333;
    text-shadow: none;
    font-family: Consolas, "Liberation Mono", Courier, monospace;
    font-size: 38px;
}
.section-code .site-title:before,
.section-footer .site-title:before {
    content: "{";
    color: #333;
    text-shadow: none;
    font-family: Consolas, "Liberation Mono", Courier, monospace;
}
.section-code .site-title:after,
.section-footer .site-title:after {
    content: "}";
    color: #333;
    text-shadow: none;
    font-family: Consolas, "Liberation Mono", Courier, monospace;
}
@media (min-width: 768px) {
    .section-code .site-title,
    .section-footer .site-title {
        margin-top: 13px;
    }
}



#travel {
    position: relative;
}
#map-years {
    position: absolute;
    left: 10%;
    right: 10%;
    bottom: 50px;
    z-index: 50;
    text-align: center;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
         -o-user-select: none;
            user-select: none;
}
#map-years>.year.has-travel {
    color: #fff;
    cursor: pointer;
}
#map-years>.year,
#map-years>.year.muted {
    display: inline-block;
    padding: 0 2px;
    color: #888;
    font-family: 'Quicksand', helvetica, arial, sans-serif;
    font-weight: 300;
}
#map-years>.underline {
    bottom: 0;
    left: 0;
    width: 0;
    border-color: #fff;
    -webkit-transition: left .3s linear, width .3s linear;
       -moz-transition: left .3s linear, width .3s linear;
        -ms-transition: left .3s linear, width .3s linear;
         -o-transition: left .3s linear, width .3s linear;
            transition: left .3s linear, width .3s linear;
}
@media (max-width: 1200px) {
    #map-years>.underline {
        display: none;
    }
    #map-years>.is-showing {
        text-decoration: underline;
    }
}



.footer {
    padding: 50px 60px;
    background: #666;
    font-family: 'Quicksand', helvetica, arial, sans-serif;
    font-weight: 200;
    font-size: 42px;
}
.start .footer {
    visibility: hidden;
}
.footer .social {
    margin-bottom: 0;
}
.footer a {
    color: #fff;
}
.fa.fa-strava-square:before {
    content: "";
    position: relative;
    top: 3px;
    display: block;
    width: 36px;
    height: 36px;
    background: url(/images/strava2b.png) center center no-repeat;
    background-size: 100% auto;
}
.footer .tooltip {
    margin: -5px 0 0;
    padding: 0;
}
.footer .tooltip .tooltip-arrow {
    border: none;
}
.footer .tooltip .tooltip-inner {
    max-width: 400px;
    background: transparent;
    font-weight: 400;
    font-size: 22px;
}













