html.disable-scrolling {
    overflow: hidden;
}

.match-parent.horizontal {
    width: 100%;
}

.site-title {
    position: absolute;
    top: 125px;
    left: 45px;
    margin: 15px 0 0;
    color: #fff;
    font-size: 40px;
    line-height: normal;
    -webkit-transform: translate3d(0, 0, 0);
       -moz-transform: translate3d(0, 0, 0);
        -ms-transform: translate3d(0, 0, 0);
         -o-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
    opacity: 1;
    z-index: 10;
    text-shadow: 0 0 3px rgba(0, 0, 0, .3);
}
.site-title.transition {
    -webkit-transition: all .5s ease-out;
       -moz-transition: all .5s ease-out;
        -ms-transition: all .5s ease-out;
         -o-transition: all .5s ease-out;
            transition: all .5s ease-out;
}
.start .site-title {
    -webkit-transform: translate3d(-50px, 0, 0);
       -moz-transform: translate3d(-50px, 0, 0);
        -ms-transform: translate3d(-50px, 0, 0);
         -o-transform: translate3d(-50px, 0, 0);
            transform: translate3d(-50px, 0, 0);
    opacity: 0;
}
.site-title.fixed {
    position: fixed;
    top: 0;
}
.site-title a {
    position: relative;
    color: #fff;
}


.bg-intro {
    position: relative;
    width: 100%;
    height: 100%;
    z-index: 1;
    opacity: 1;
    -webkit-transition: all .5s ease-out;
       -moz-transition: all .5s ease-out;
        -ms-transition: all .5s ease-out;
         -o-transition: all .5s ease-out;
            transition: all .5s ease-out;
}

.carousel-control {
    background-image: none !important;
}

.start .bg-intro {
    opacity: 0;
}

.navigation {
    position: fixed;
    top: 15px;
    right: 50px;
    z-index: 10;
    color: #fff;
    font-size: 40px;
    -webkit-transition: top 1s ease-in-out;
       -moz-transition: top 1s ease-in-out;
        -ms-transition: top 1s ease-in-out;
         -o-transition: top 1s ease-in-out;
            transition: top 1s ease-in-out;
}
.no-touch .navigation {
    -webkit-transition-delay: .5s;
       -moz-transition-delay: .5s;
        -ms-transition-delay: .5s;
         -o-transition-delay: .5s;
            transition-delay: .5s;
}
.start .navigation {
    top: -1.3em;
}
.navigation a,
.navigation a:after {
    -webkit-transition: all .2s linear;
       -moz-transition: all .2s linear;
        -ms-transition: all .2s linear;
         -o-transition: all .2s linear;
            transition: all .2s linear;
}
.navigation a:hover,
.navigation a:active {
    color: #fff;
}
.section-code .navigation a:hover,
.section-code .navigation a:active,
.section-footer .navigation a:hover,
.section-footer .navigation a:active {
    color: #2a6496;
}
#voice-toggle {
    position: fixed;
    top: 70px;
    right: 55px;
    z-index: 10;
    font-family: 'Quicksand', helvetica, arial, sans-serif;
    font-weight: 400;
    -webkit-transition: opacity 1s ease-in-out .5s;
       -moz-transition: opacity 1s ease-in-out .5s;
        -ms-transition: opacity 1s ease-in-out .5s;
         -o-transition: opacity 1s ease-in-out .5s;
            transition: opacity 1s ease-in-out .5s;
    opacity: 1;
}
.start #voice-toggle {
    opacity: 0;
}

.start .dialog {
    display: none;
}
.dialog h3,
.dialog p:not(:last-child) {
    margin: 0 0 15px;
}
#voice-intro {
    top: 150px;
    right: 50px;
    width: 500px;
}
#help {
    top: 12%;
    right: 15%;
    left: 15%;
}
#help li {
    line-height: 2em;
}
#help .label {
    color: #000;
    font-family: Consolas, "Liberation Mono", Courier, monospace;
    font-size: 14px;
}

.section-travel a.nav-travel:hover,
.section-travel a.nav-travel:active,
.section-code a.nav-code:hover,
.section-code a.nav-code:active,
.section-top a.nav-top:hover,
.section-top a.nav-top:active {
    color: #428bca;
}

.section-top .underline,
.goto-top .underline {
    left: 4px;
    width: 125px;
    opacity: 1;
}
.section-travel .underline,
.goto-travel .underline {
    left: 158px;
    width: 110px;
    opacity: 1;
}
.section-code .underline,
.goto-code .underline {
    left: 294px;
    width: 87px;
    opacity: 1;
}
.section-footer .underline,
.goto-footer .underline {
    left: 500px;
    width: 87px;
    opacity: 1;
}

header,
.goto-top header,
.goto-travel header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 9;
    display: block;
    min-height: 80px;
    background: transparent;
    -webkit-transition: all .5s ease-out;
       -moz-transition: all .5s ease-out;
        -ms-transition: all .5s ease-out;
         -o-transition: all .5s ease-out;
            transition: all .5s ease-out;
}
.section-code header,
.goto-code header,
.section-footer header,
.goto-footer header {
    background: #fff;
    background: rgba(255, 255, 255, .9);
}


#map-years {
    position: absolute;
    left: 10%;
    right: 10%;
    bottom: 10%;
    z-index: 50;
    text-align: center;
}
#map-years.list-inline>li {
    padding: 0 2px;
    color: #888;
}
#map-years a {
    color: #fff;
    font-family: 'Quicksand', helvetica, arial, sans-serif;
    font-weight: 300;
}


.toast {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 15%;
    z-index: 50;
    display: block;
    text-align: center;
    -webkit-transition: opacity .5s ease-out;
       -moz-transition: opacity .5s ease-out;
        -ms-transition: opacity .5s ease-out;
         -o-transition: opacity .5s ease-out;
            transition: opacity .5s ease-out;
    opacity: 1;
}
.toast.hidden {
    opacity: 0;
}
.toast .content {
    display: inline-block;
    padding: 12px;
    background: rgba(0, 0, 0, .8);
    -webkit-border-radius: 3px;
       -moz-border-radius: 3px;
            border-radius: 3px;
    color: #fff;
    font-family: 'Quicksand', helvetica, arial, sans-serif;
    font-weight: 300;
    font-size: 42px;
}



#code {
    position: relative;
}
.start #code {
    visibility: hidden;
}

#code {
    padding: 90px 50px 0;
}
.editor-cx {
    position: relative;
}
#editor {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    min-height: 500px;
}
#projects h2 {
    font-weight: 300;
}
#projects > h2:first-child {
    margin-top: 0;
}
#projects h4 {
    margin: 0;
}
#projects .highlights p {
    margin: 0;
}
#projects .highlights li {
    margin-bottom: 30px;
}
#projects .repos li:not(:last-child) {
    margin-bottom: 15px;
}
