#photo-llao-llao {
    background: url(/images/backgrounds/LlaoLlao2.jpg) left top no-repeat;
    background-size: cover;
}
#photo-antarctica {
    background: url(/images/backgrounds/antarctica-skiing.jpg) center center no-repeat;
    background-size: cover;
}
#photo-morocco {
    background: url(/images/backgrounds/MoroccoSouthernRoutes.jpg) left top no-repeat;
    background-size: cover;
}
#photo-lago-titicaca {
    background: url(/images/backgrounds/LagoTiticaca2.jpg) left top no-repeat;
    background-size: cover;
}
#photo-valle-luna {
    background: url(/images/backgrounds/ValleDeLaLuna.jpg) left center no-repeat;
    background-size: cover;
}
#photo-bariloche {
    background: url(/images/backgrounds/Bariloche.jpg) left top no-repeat;
    background-size: cover;
}
#photo-el-chalten {
    background: url(/images/backgrounds/ElChalten.jpg) center bottom no-repeat;
    background-size: cover;
}
