@media (max-width: 767px) {
    .ha-on .ha:not(.ha-mobile),
    .ha-on .ha-:not(.ha-mobile) * {
        -webkit-transform: none;
           -moz-transform: none;
            -ms-transform: none;
             -o-transform: none;
                transform: none;
    }
    .carousel-control {
        display: none;
    }
    body .header {
        position: fixed;
        top: 0;
        left: 0;
        right: auto;
        z-index: 50;
        padding: 15px 30px;
        background: #fff;
        background: rgba(255, 255, 255, .8);
        text-align: center;
    }
    .site-title {
        z-index: 60;
        margin-top: 0;
        font-size: 32px;
    }
    .site-title,
    .start .site-title,
    .navigation,
    .start .navigation {
        position: relative;
        top: auto;
        left: auto;
        right: auto;
        bottom: auto;
    }
    .start .header {
        opacity: 0;
    }
    .site-title,
    .site-title.fixed {
        position: fixed;
        top: 0;
        left: 0;
        right: auto;
        padding: 15px;
        text-align: center;
    }
    .site-title a {
        color: #333;
        text-shadow: none;
    }
    .navigation {
        display: inline-block;
        padding-top: 45px;
        margin: 0 auto;
        font-size: 20px;
        text-align: center;
    }
    .navigation a:hover,
    .navigation a:active {
        color: #428bca;
    }
    .dialog {
        display: none;
    }
    .underline.ha {
        bottom: 3px;
    }
    .section-top .underline,
    .goto-top .underline {
        left: 0;
        width: 62px;
        opacity: 1;
    }
    .section-travel .underline,
    .goto-travel .underline {
        left: 72px;
        width: 50px;
        opacity: 1;
    }
    .section-code .underline,
    .goto-code .underline,
    .section-footer .underline,
    .goto-footer .underline {
        left: 131px;
        width: 43px;
        opacity: 1;
    }
    .section-footer .underline,
    .goto-footer .underline {
        opacity: 0;
    }
    .section-code .site-title a,
    .section-footer .site-title a {
        font-size: 28px;
    }
    #code {
        padding: 50px 30px;
    }
    .editor-cx,
    #projects {
        margin-bottom: 30px;
    }
    #voice-toggle {
        display: none;
    }
}
@media (max-width: 567px) {
    .editor-cx {
        display: none;
    }
    .site-title,
    .site-title.fixed,
    body .header {
        left: 0;
        right: 0;
    }
}
