@media (max-width: 767px) {
    .ha-on .ha:not(.ha-mobile),
    .ha-on .ha-:not(.ha-mobile) * {
        -webkit-transform: none;
           -moz-transform: none;
            -ms-transform: none;
             -o-transform: none;
                transform: none;
    }
    .carousel-control {
        display: none;
    }
    .header {
        position: fixed;
        top: 0;
        left: 0;
        z-index: 50;
        padding: 15px;
        background: #fff;
        background: rgba(255, 255, 255, .8);
    }
    .site-title {
        margin-top: 5px;
        font-size: 32px;
    }
    .site-title,
    .start .site-title,
    .navigation,
    .start .navigation {
        position: relative;
        top: auto;
        left: auto;
        right: auto;
        bottom: auto;
    }
    .start .header {
        opacity: 0;
    }
    .site-title.fixed {
        position: relative;
    }
    .site-title a {
        color: #333;
        text-shadow: none;
    }
    .navigation {
        font-size: 20px;
    }
    .navigation a:hover,
    .navigation a:active {
        color: #428bca;
    }
    .dialog {
        display: none;
    }
    .underline.ha {
        bottom: 3px;
    }
    .section-top .underline,
    .goto-top .underline {
        left: 2px;
        width: 63px;
        opacity: 1;
    }
    .section-travel .underline,
    .goto-travel .underline {
        left: 88px;
        width: 56px;
        opacity: 1;
    }
    .section-code .underline,
    .goto-code .underline {
        left: 166px;
        width: 46px;
        opacity: 1;
    }
    #editor {
        display: none;
    }
    #projects {
        float: none;
        width: auto;
        margin: 30px 30px;
    }
    #voice-toggle {
        display: none;
    }
}
@media (max-width: 567px) {
    .header {
        right: 0;
    }
}
